
.searchPage__header{
    display: flex;
    position: sticky;
    top:0;
    background-color: white;
    z-index:100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPage__logo{
    height: 50px;
    object-fit: contain;
    margin-right: 50px;
}

.searchPage_headerBody > .search >.search_input{
    margin-top: 0;
    width: unset;
    height: unset;
    margin: unset;
    max-width: unset;
}


.searchPage__options{
    display: flex;
    align-items: center;
    color:gray;
}

.searchPage__optionsLeft,
.searchPage__optionsRight{
    display: flex;
}

.searchPage__optionsLeft a,
.searchPage__optionsRight a{
    text-decoration: none;
    color:gray
}

.searchPage__optionsRight{
    margin-left: 80px;
}

.searchPage__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a{
    margin-left: 5px;
}
.searchPage_result{
    margin:40px 0;
}
.searchPage_resultCount{
    font-size: 14px;
}

.searchPage_results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchPage_resultName{
    text-decoration: none;
}
.searchPage_resultName:hover{
    text-decoration: underline;
}

.searchPage_resultName >h2{
    font-weight: 500;
}
.result_snippt{
    margin-top: 10px;
}

.searchPage_resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;

}